@font-face {
  font-family: "iconfont"; /* Project id 4012520 */
  src: url('iconfont.woff2?t=1681717785896') format('woff2'),
       url('iconfont.woff?t=1681717785896') format('woff'),
       url('iconfont.ttf?t=1681717785896') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "\e955";
}

.icon-aliyun:before {
  content: "\ee48";
}

.icon-xuanxiangqiayoujiantou:before {
  content: "\e671";
}

.icon-zuojiantou:before {
  content: "\e618";
}

.icon-youjiantou:before {
  content: "\e60e";
}

.icon-youjiantou1:before {
  content: "\e6b5";
}

.icon-lianjie:before {
  content: "\e607";
}

.icon-tags:before {
  content: "\e885";
}

.icon-calendar-clock:before {
  content: "\e613";
}

.icon-igw-l-role:before {
  content: "\e648";
}

.icon-calendarclock:before {
  content: "\e6e6";
}

.icon-lianxiren:before {
  content: "\e645";
}

.icon-24gf-folderOpen:before {
  content: "\eac5";
}

.icon-huixingzhen:before {
  content: "\e630";
}

.icon-tags1:before {
  content: "\e7e5";
}

.icon-tags-fill:before {
  content: "\e86e";
}

.icon-chakan1:before {
  content: "\e600";
}

.icon-book-full:before {
  content: "\e895";
}

.icon-fangdajing3:before {
  content: "\e611";
}

.icon-file-code1:before {
  content: "\eb2c";
}

.icon-yiliaohangyedeICON-:before {
  content: "\e636";
}

.icon-magic:before {
  content: "\e624";
}

.icon-info_circle_fill:before {
  content: "\e842";
}

.icon-timer:before {
  content: "\e8b4";
}

.icon-arrow-down:before {
  content: "\e621";
}

.icon-xiangxiajiantouxiao:before {
  content: "\e64e";
}

.icon-shousuoxiajiantou:before {
  content: "\e679";
}

.icon-wangzhanluru:before {
  content: "\e69b";
}

.icon-wangzhanyinliu:before {
  content: "\e69c";
}

.icon-wangzhanyinliu1:before {
  content: "\e6a3";
}

.icon-wangzhananquan:before {
  content: "\e6a4";
}

.icon-wangzhanluru1:before {
  content: "\e6a5";
}

